

<div class= "flex items-start justify-start h-screen">

    <div class= "flex flex-col justify-start mr-20">
        <% if @product.primary_image.attached?  %>
            <%= image_tag @product.primary_image, class:"max-w-sm w-50 object-cover" %> 
        <% end %>
        <% if @product.images.attached? %>
        <div class="flex justify-items-start mb-4">
            <% @product.images.each do |img| %>
                <div class="flex flex-col items-center mr-5">
                    <%= image_tag img, class: "max-h-48 object-cover mb-4 " %>
                </div>
            <% end %>
            <div class="" ></div>
        </div>
        <% end %>
    </div>

    <div class="flex flex-col">
        <h1 class="my-6 header"><%= @product.title %></h1>
        <div class="mb-4">
            <p class="text-md mb-4 "><%= @product.desc %> </p> 
            <p class="text-md mb-4 ">Stock : 
                <span class="font-bold">
                    <%= @product.stock %>
                </span>
            </p>
            <p class="text-md mb-4">Status : 
                <span class="font-bold">
                    <%= @product.status %>
                </span>
            </p>
        </div>
    </div>
</div>