<%= render 'nav' %>
<h1 class="my-6 header"> Products List</h1>

<div>
    <%= link_to "Download CSV", admins_products_path(format: :csv), class: "bg-blue-500 hover:bg-blue-700 btn" %>
</div>

<div class="bg-white shadow-md rounded my-6">
    <table class="table-auto w-full">
        <thead class="bg-gray-400 uppercase">
            <tr>
                <th class="px-3 py-6 text-left" > Pic </th>
                <th class="px-3 py-6 text-left"> title </th>
                <th class="px-3 py-6 text-left"> description </th>
                <th class="px-3 py-6 text-left"> status </th>
                <th class="px-3 py-6 text-center"> catagories </th>
                <th class="px-3 py-6 text-center"> stock </th>
                <th class="px-3 py-6 text-center"> img </th>
                <th class="px-3 py-6 text-center"> Detail </th>
            </tr>
        </thead>
        <tbody class="text-sm font-light">
        <% @products.each do |p| %>
            <tr class="border-b bg-gray-100 hover:bg-gray-200">
                <td class="px-3 py-6"> 
                    <% if p.primary_image.attached? %>
                        <%= image_tag p.primary_image, class:"w-40 max-w-lg object-cover" %> 
                    <% end %>
                </td>
                <td class="px-3 py-6"> <%= p.title %> </td>
                <td class="px-3 py-6"> <%= p.desc %> </td>
                <td class="px-3 py-6"> <%= p.status %> </td>
                <td class="px-3 py-6"> <%= p.categories&.map(&:name)&.join(',').presence || 'NA' %> </td>
                <td class="px-3 py-6 text-left"> <%= p.stock %> </td>
                <td class="px-3 py-6 text-center"> 
                    <% p.images.each do |image| %> 
                        <%= image_tag image , width: '32px' %>
                    <% end %>
                </td>
                <td class="px-3 py-6 text-center"> <%= link_to  "Detail" , admins_product_path(p) %> </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>

<%= form_with url:admins_products_csv_upload_path, multipart: true do |form| %>

    <div class="image-upload">
        <%= form.file_field :csv_file,
            class: "text-gray-400 py-2 cursor-pointer" %>
        <%= form.submit :upload, 
            class: "bg-blue-500 hover:bg-blue-700 btn" %>
    </div>



    <%# <label class="w-64 flex flex-col items-center px-4 py-6 bg-white text-blue-500 rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue hover:text-white">
        <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
        </svg>
        <span class="mt-2 text-base leading-normal">Select a file</span>
        <input type='file' class="hidden" />
    </label> %>
<% end %>
