<h1 class="my-6 text-4xl font-medium text-gray-700"><%= @product.title %></h1>

<p class="text-md "><%= @product.desc %></p>
<p class="text-md ">Stock : <%= @product.stock %></p>
<p class="text-md ">Status : <%= @product.status %></p>

<% if @product.primary_image.attached?  %>
 <%= image_tag @product.primary_image, class:"w-40 max-w-lg object-cover" %> 
<% end %>


<% if admin_signed_in? %>
<ul class="flex space-x-3 my-6">
  <li >
    <%= link_to "Edit", edit_admins_product_path(@product),
    class: "bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded cursor-pointer" %></li>

  <li>
    <%= link_to "Delete", admins_product_path(@product), 
    method: :delete, data: { confirm: "Delete #{@product.title}?" },
    class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded cursor-pointer" %></li>
</ul>

<% end %>

