<%= form_with model: product  do |form| %>
  <div class="mb-4">
    <%= form.label :title, class: "text-grey-darker text-sm font-bold mb-2" %><br>
    <%= form.text_field :title,
        class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
    <% product.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form.label :desc, class: "text-grey-darker text-sm font-bold mb-2" %><br>
    <%= form.text_area :desc,
        class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %><br>
    <% product.errors.full_messages_for(:desc).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form.label :stock, class: "text-grey-darker text-sm font-bold mb-2" %><br>
    <%= form.number_field :stock,
        class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
  </div>
    <% product.errors.full_messages_for(:stock).each do |message| %>
      <div><%= message %></div>
    <% end %>

  <div class="mb-4">
    <%= form.label :status, class: "text-grey-darker text-sm font-bold mb-2" %><br>
    <%= form.select :status, Product.statuses.keys.map { |w| [w.humanize, w] },
    class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>

  </div>

  <div class="mb-4">
    <div class="md:flex flex-col">
            <%= form.label "Categories: ", class: "text-grey-darker text-sm font-bold mb-2" %><br>
            <%= form.collection_check_boxes(
              :category_ids, 
              Category.all, 
              :id, 
              :name, 
              {}, 
              {:class => "inline-block bg-pink-300", multiple: true},
              ) do |b| %>
                <%= b.label(:"data-value" => b.value) { b.check_box+ "  " + b.text }  %>
            <% end %>
    </div>
  </div>

  <div class="action">
    <%= form.submit "Submit", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer" %>
  </div>


<% end %>