<h1 class="my-6 text-4xl font-bold text-gray-700"> Products List</h1>
<div class="bg-white shadow-md rounded my-6">
    <table class="table-auto w-full">
        <thead class="bg-gray-400 uppercase">
            <tr>
                <th class="px-3 py-6 text-left" > id </th>
                <th class="px-3 py-6 text-left"> title </th>
                <th class="px-3 py-6 text-left"> description </th>
                <th class="px-3 py-6 text-center"> stock </th>
                <th class="px-3 py-6 text-center"> Detail </th>
            </tr>
        </thead>
        <tbody class="text-sm font-light">
        <% @products.each do |p| %>
            <tr class="border-b bg-gray-100 hover:bg-gray-200">
                <td class="px-3 py-6"> <%= p.id %> </td>
                <td class="px-3 py-6"> <%= p.title %> </td>
                <td class="px-3 py-6"> <%= p.desc %> </td>
                <td class="px-3 py-6 text-center"> <%= p.stock %> </td>
                <td class="px-3 py-6 text-center"> <%= link_to  "Detail" , product_path(p) %> </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>


