<h1 class="text-gray-600 font-bold text-9xl" >Welcome </h1>

<h2 class="text-gray-600 font-bold text-4xl" >These are our products</h2>

<div class="flex flex-col" >

<% @products.each do |p| %>
    <%= p.title %>
    <%= p.desc %>
    <%= p.stock %>
    <%= link_to  "Detail" , product_path(p) %>
    </br>
<% end %>

<%= link_to "New Product", new_product_path %>
<%= link_to "login", new_admin_session_path %>
<%= link_to "logout", destroy_admin_session_path , method: :delete %>
<%= link_to "signup", new_admin_registration_path %>


</div>